<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      <ion-label>Eventos</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let agenda of agendas">
      <ion-label>{{agenda.titulo}}</ion-label>
      <ion-buttons>
        <ion-button color="primary" [routerLink]="['/home/edit', agenda._id]" >Editar</ion-button>
        <ion-button color="danger" (click)="delete(agenda)" slot="start">Eliminar</ion-button>
      </ion-buttons>  
    </ion-item>     
  </ion-list>
  
</ion-content>

